$primary-color: #00B4D8;
$secondary-color: #90E0EF;
$tertiary-color: #CAF0F8;
$dark-color: #171D2C;
$low-priority-color: #8ac926;
$medium-priority-color: #ffca3a;
$high-priority-color: #ff595e;
$font-family: "League Spartan", sans-serif;
$border-radius: 2rem;
$border-radius-small: 0.5rem;

@mixin displayFlex(
  $flex-direction: row,
  $justify-content,
  $align-items,
  $gap: 0,
  $wrap: wrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $wrap;
}

html {
  font-size: 10px;
  font-family: $font-family;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-family: $font-family;
  font-weight: 400;
  cursor: pointer;
  background-color: transparent;
}

.lbl {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000000;
}

.ipt {
  height: 3.2rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 3.2rem;
  font-family: $font-family;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000000;
  outline: none;
  border: solid 0.1rem $tertiary-color;
}