$light-mode: #ffffff;
$dark-mode: #0f0f11;
$dark-mode-variation: #242424;
$grey-color: #6e6e73;
$grey-color-variation: #e2e2e4;
$light-grey: #f1f1f1;
$modal-background-color: rgba(60, 61, 77, 0.637);
$modal-background-color-dark-mode: rgba(18, 18, 31, 0.726);
$box-shadow: 2px 4px 12px rgba(0,0,0,0.15);
$box-shadow-variation: 0px 2px rgba(0, 0, 0, 0.247);
$font-family: "League Spartan", sans-serif;
$border-radius: 2rem;
$border-radius-small: 0.5rem;

@mixin displayFlex(
  $flex-direction: row,
  $justify-content,
  $align-items,
  $gap: 0,
  $wrap: wrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $wrap;
}

html {
  font-size: 10px;
  font-family: $font-family;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-family: $font-family;
  font-weight: 400;
  cursor: pointer;
  background-color: transparent;
}

.lbl {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000000;
}

.ipt {
  height: 3.2rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  font-family: $font-family;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000000;
  outline: none;
  border: solid 0.1rem $grey-color-variation;
}